<section class="fundraising-application-section row">
	<h2>{{ctrl.ngModel.title}}</h2>
	<ng-include src="ctrl.template" class="fundraising-application-section-template col-xs-12"></ng-include>
</section>