<div class="text-center">
	<h2>Create Group</h2>
</div>
<form class="signup-form">
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control">
	</div>
</form>
<div class="text-center">
	<button class="btn btn-lg btn-default">
		Create Group
	</button>
</div>