.teamworks .application-content-header {
	background-color: #2e6797;
	padding: 50px 0;
	margin-bottom: 15px;
	h1 {
		color: #FFFFFF;
		display: inline-block;
		padding: 0;
		margin-bottom: 30px;
	}
	p {
		color: #F5F5F5;
		font-size: 16px;
	}
}

fundraising-application-section {
	display: block;
	margin-bottom: 15px;

	h2 {
		text-transform: uppercase;
	}

	p, label, div, input.form-control {
		font-size: 16px;
	}

	.section-control-buttons {
		margin-top: 30px;
	}

	.section-step {
		color: #8F8683;
		font-size: 18px;
	}

	.fundraising-application-section .fundraising-application-section-template {
		padding: 30px;
		background-color: #EEEEEE;
	}

	.initial-info {
		.input-group {
			min-height: 120px;
		}
	}

	.dates .date-range  {
		margin-bottom: 30px;
		.input-group {
			display: inline-block;
			margin-right: 15px;
		}
	}

	.marketing-selection {
		.col-xs-3 {
			margin-bottom: 15px;
			h3 {
				min-height: 80px;
			}
			button {
				margin-top: 30px;
			}
		}
	}

	.product-selection {
		background-color: #FFFFFF;
		height: 400px;
		margin-top: 20px;

		.teamworks-product {
			padding: 0 30px;
			margin-top: 15px;

			.product-selection {
				overflow: auto;
			}

			.average-profit {
				background-color: #00B287;
				color: white;
				font-size: 16px;
				padding: 2px 0;
			}

			img {
				width: 100%;
				border: 1px solid #eeeeee;
				min-height: 225px;
			}
			img + div {
				position: absolute;
				width: 100%;
				padding: 8px 0;
				bottom: 0;
				font-size: 18px;
				background-color: rgba(53, 53, 53, 0.66);
				color: white;
			}

			.product-info {
				padding: 10px;
				border: 1px solid #eeeeee;
			}

			button {
				background-color: #2885C3;
				color: white;
				width: 50%;
				float: left;
				border: none;
				padding: 8px 0;
			}
			button:first-of-type {
				border-right: 1px solid #EEEEEE;
			}
		}
	}

	.custom-products {
		margin-top: 15px;
		display: inline-flex;
		.custom-product {
			margin-right: 15px;
			width: 180px;
			margin-bottom: 15px;
			display: inline-block;
			.image {
				text-align: center;
				padding: 50px 0;
				background-color: #C7C7C7;
			}
			.fa-photo {
				color: #FFFFFF;
				font-size: 45px;
			}
		}
		.custom-product-add {
			display: inline-block;
			height: 462px;
			width: 180px;
			background-color: white;
			text-align: center;
			padding-top: 218px;
		}
		h3 {
			margin: 0;
			padding: 10px 0;
			font-size: 18px;
		}

		.custom-product-profit {
			text-align: center;
			padding: 10px 0;
			color: white;
			background-color: #00B287;
			font-size: 17px;
		}
	}

	.custom-product-description {
		background-color: white;
		padding: 10px;
	}

	.vendor-info {
		.input-group {
			margin-bottom: 20px;
		}
	}
}