<header></header>

<main>
	<section class="application-content-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<h1>New Fundraiser Application</h1>
					<p>We will guide you through a few steps to fill out your fundraising application. After that, your application will be submitted to an administrator for approval.</p>
				</div>
				<div class="col-xs-4 text-center">
					<div style="padding: 30px; background-color: #FFFFFF; border-radius: 10px; margin: 0 20px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);">
						<img src="images/logo.svg" style="width: 200px;">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container">
		<div ng-repeat="section in ctrl.sections" ng-show="ctrl.currentStep === section.step">
			<fundraising-application-section ng-model="section" current-step="ctrl.currentStep"></fundraising-application-section>
		</div>
	</section>

</main>

<footer></footer>