This is the home page.

<h1> Group Leader <a ui-sref="signup">Sign Up</a></h1>
<h1> Group Leader <a ui-sref="home">Fundraising Dashboard</a></h1>
<h1><a ui-sref="application">Fundraising Application</a></h1>


<ui-view class="content"></ui-view>