.teamworks .navbar.navbar-default {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #dfdedd;
	border-radius: 0;
	margin-bottom: 0;

	.navbar-brand {
		line-height: 50px;
	}

	.nav > li a {
		line-height: 50px;
	}
	.user-notifications span {
		font-size: 20px;
	}

	.user-dropdown {
		span.fa.fa-user {
			font-size: 25px;
		}
		span.fa.fa-chevron-down {
			font-size: 10px;
		}
	}
}

