<header></header>

<main class="signup">
	<div class=""row>

		<section class="main-header col-md-12">
			<h1>Welcome to Westfield High School's Fundraising Portal!</h1>
			<p class="main-subtitle">This is where you will submit all future fundraisers.</p>
		</section>

		<section class="col-md-6 col-xs-12">
			<div class="text-center">
				<h2>Create or Join a Group</h2>
			</div>
			<form class="signup-form">
				<div class="form-group">
					<label>First Name</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group">
					<label>Last Name</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" class="form-control">
				</div>
				<div class="form-group">
					<label>Secondary Email</label>
					<input type="email" class="form-control">
				</div>
				<div class="form-group">
					<label>Phone Number</label>
					<input type="email" class="form-control">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control">
				</div>
				<div class="form-group">
					<label>Repeat Password</label>
					<input type="password" class="form-control">
				</div>

				<div class="form-group">
					<label>Group</label>
					<div class="input-group">
						<select class="form-control">
							<option ng-repeat="group in ctrl.groups">
								{{group}}
							</option>
						</select>
						<span class="input-group-addon fa fa-plus" ng-click="ctrl.addGroup()">
							<span class=""></span>
						</span>
					</div>
				</div>

				<div class="form-group">
					<label>Title</label>
					<select class="form-control">
						<option ng-repeat="title in ctrl.titles">
							{{title}}
						</option>
					</select>
				</div>
			</form>
			<div class="signup-form-footer">
				<button class="btn btn-lg btn-default" ui-sref="home">
					Join!
				</button>
			</div>
		</section>

		<section class="signup-marketing-container">
			<div class="text-center signup-marketing-header">
				<h2>TeamWorks can help you...</h2>
			</div>
			<div class="signup-marketing">

				<carousel interval="5000">
					<slide ng-repeat="slide in ctrl.slides" active="slide.active">
						<img ng-src="{{slide.image}}">
						<div class="carousel-caption">
							<h4>{{slide.title}}</h4>
						</div>
					</slide>
				</carousel>

			</div>
		</section>
	</div>
</main>

<footer></footer>