.teamworks .signup {
	@extend .container;
	h1 {
		margin: 0;
		padding: 30px 0 20px 0;
	}
	h2 {

	}

	.main-header {
		@extend .text-center;
		margin-bottom: 35px;
	}
	.main-subtitle {
		color: #004777;
		font-size: 18px;
	}

	.signup-form {
		background-color: #EEEEEE;
		padding: 30px;
		label {
			font-size: 18px;
			font-weight: 400;
		}
		input {
			font-size: 16px;
		}
	}

	.signup-form .groups {
		.form-group {
			width: calc(100% - 70px);
		}
		button {
			display: inline;
			width: 50px;
		}
	}

	.signup-form .input-group-addon {
		border: none;
		border-left: 1px solid #BFBFBF;
		border-radius: 0;
		background-color: #FFFFFF;
		top: 0;
		margin-left: 15px;
		cursor: pointer;
		&:hover {
			background-color: #E4E4E4;
		}
	}

	.signup-form-footer {
		padding: 30px;
		@extend .text-center;
		background-color: #004777;
	}

	.signup-marketing-container {
		position: fixed;
		left: 970px;
		top: 197px;
	}

	.signup-marketing-header {
		padding-top: 30px;
	}

	.signup-marketing {
		height: 580px;
		padding: 45px 40px;
		background-color: #16374E;
		max-width: 540px;

		.carousel img {
			width: 100%;
			height: calc(550px - 80px);
			border: 1px solid #E0E0E0;
		}

		.carousel-indicators {
			bottom: -50px;
		}

		.carousel-indicators li {
			border: none;
			background-color: #848484;
		}

		.carousel-indicators li.active {
			width: 10px;
			height: 10px;
			margin: 1px;
			border: none;
			background-color: #FFFFFF;
		}

		.carousel .right.carousel-control {
			background: none;
		}

		.carousel .left.carousel-control {
			background: none;
		}

		.carousel .carousel-caption {
			left: 0;
			right: 0;
			bottom: 0;
			padding-top: 35px;
			padding-bottom: 35px;
			background-color: rgba(41, 41, 41, 0.74);
			width: 100%;
		}
	}
}

add-group {
	display: block;
	padding: 30px;
	background-color: #EEEEEE;
}