// Bootstrap

$font-family-sans-serif: 'Lato', sans-serif;

$footer-height: 200px;

@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

@import 'app/signup/signup';
@import 'app/home/home';
@import 'app/application/application';


@import 'components/header/header';
@import 'components/footer/footer';

.teamworks {
	h1 {
		font-size: 24px;
		color: #8F8683;
	}
	h2 {
		font-size: 20px;
		color: #8F8683;
		margin-top: 0;
		margin-bottom: 15px;
	}
}


main {
	h1 {
		margin: 0;
		padding: 50px 0 55px 0;
	}

	.main-header {
		@extend .text-center;
		margin-bottom: 35px;
	}
	.main-subtitle {
		color: #8F8683;
	}
}

.teamworks {
	.form-control {
		border-radius: 0;
		border: 1px solid white;
		box-shadow: none;
	}
}

.teamworks {
	.btn {
		border-radius: 10px;
		line-height: 1;
		font-weight: 600;
		font-size: 1em;
		padding: .8em 2em;
		border: none;
	}
	.btn-lg {
		font-size: 1.2em;
		padding: .7em 2em;
	}
	.btn-success {
		background-color: #0fb10f;
		border: none;
	}
}

.teamworks {
	.modal-dialog .modal-content {
		border-radius: 0;
		box-shadow: none;
		border: none;
	}
}