$teamworks-button: #66B8FF;


main.home {

	[ng-click] {
		cursor: pointer;
	}
	p {
		color: #8C8C8C;
		font-size: 17px;
	}
	h2 {
		font-size: 22px;
	}
	.home-banner {
		padding: 120px 0;
		margin-bottom: 15px;

		background-image: url('images/background-participant.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 30%;

		h1 {
			color: #D0D0D0;
			display: inline-block;
			padding: 0;
		}
		.home-banner-user {
			color: white;
		}
		background-color: #2e6797;
	}

	.home-dashboard-content {
		padding: 20px;
	}

	.home-dashboard-sidebox {
		.home-dashboard-content {
			border-bottom: 2px solid #A2A2A2;
		}
		margin-bottom: 15px;
	}

	.home-dashboard-tips {
		.home-dashboard-content {
			background-color: #EFEFEF;
		}
		margin-bottom: 15px;
	}

	.home-teamworks-products {
		.home-dashboard-content {
			box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
			border: none;
			border-radius: 10px;
		}
		p {
			font-size: 24px;
		}
		button {
			background-color: $teamworks-button;
		}
	}

	.home-success-coach {
		.home-success-coach-image {
			margin: 20px 0;
			padding: 18px;
			border-radius: 50%;
			background-color: white;
			height: 90px;
			width: 90px;
			display: inline-block;
		}
		.home-success-coach-image > span {
			font-size: 45px;
		}
		.home-success-coach-name {
			font-size: 24px;
			margin-bottom: 20px
		}
		.success-coach-contact-icon {
			margin-right: 10px;
		}
	}

	.home-active-fundraiser {
		margin-bottom: 15px;
		background-image: url('images/active-fundraiser-bg.jpg');
		&.not-active .home-dashboard-content {
			background-image: url('images/active-fundraiser.png');

		}
		h2 {
			color: white;
		}
		p, .fa.fa-angle-up, .fa.fa-angle-down {
			color: #DADADA;
		}
		.no-active-fundraiser-message {
			padding: 50px 250px;
		}
		.new-application-button {
			margin-bottom: 40px;
		}

		&.home-approved-fundraiser h2 {
			text-align: center;
			color: #0FB10F;
			font-size: 24px;
		}

		.fundraiser-progress {
			padding-top: 40px;
			padding-bottom: 70px;

			.fundraiser-raised-data {
				display: inline-block;
				margin-left: 122px;
				p {
					font-size: 18px;
					margin: 0;
				}
				p:first-of-type {
					color: #11af4b;
					font-size: 18px;
				}
			}

			.fundraiser-expected-data {
				display: inline-block;
				margin-left: 164px;
				p {
					font-size: 18px;
					margin: 0;
				}
				p:first-of-type {
					font-size: 18px;
					color: #11af4b;
				}
			}

			.progress-raised {
				display: inline-block;
				height: 40px;
				width: 150px;
				background-color: #11af4b;
				float: left;
			}
			.progress-expected {
				display: inline-block;
				height: 40px;
				width: 50px;
				background-color: rgb(208, 208, 208);
				float: left;
			}
			.progress-goal {
				display: inline-block;
				height: 40px;
				width: 250px;
				background-color: #FFFFFF;
				float: left;
			}
		}
	}

	.home-marketing {
		margin-bottom: 15px;
		h2 {
			color: #333333;
		}

		.carousel {
			margin-bottom: 70px;
		}
		.home-dashboard-content {
			background-color: #ECECEC;
			min-height: 500px;
			padding: 50px 160px;
		}
		.no-active-fundraiser-message {
			padding: 50px 250px;
		}

		.carousel img {
			width: 100%;
			height: calc(717px - 160px);
			border: 1px solid #E0E0E0;
		}

		.carousel-indicators {
			bottom: -50px;
		}

		.carousel-indicators li {
			border: none;
			background-color: #FFFFFF;
		}

		.carousel-indicators li.active {
			width: 10px;
			height: 10px;
			margin: 1px;
			border: none;
			background-color: #333333;
		}

		.carousel .right.carousel-control {
			background: none;
		}

		.carousel .left.carousel-control {
			background: none;
		}

		.carousel .carousel-caption {
			left: 0;
			right: 0;
			bottom: 0;
			padding-top: 50px;
			padding-bottom: 50px;
			background-color: rgba(41, 41, 41, 0.74);
			width: 100%;
		}
		button {
			background-color: $teamworks-button;
			color: white;
		}
	}

	.pending-fundraisers {
		h3 {
			font-size: 16px;
			margin-top: 0;
			margin-bottom: 0;
		}
		.fundraisers-list {
			border-top: 2px solid #f2f2f2;
			border-bottom: 2px solid #f2f2f2;
			list-style: none;
			padding: 0;

		}
		.fundraisers-list-item {
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 85px;
			position: relative;
			.image-container {
				display: inline-block;
				vertical-align: middle;
			}
			img {
				position: absolute;
				top: 10px;
				left: 0;
				width: 75px;
			}
			.fundraiser-info {
				display: inline-block;
				min-height: 68px;
				width: 50%;
			}
			.fundraiser-state {
				display: inline-block;
				width: 49%;
				vertical-align: middle;
			}
			.progress-bar-green {
				display: inline-block;
				min-height: 37px;
				width: 50px;
				background-color: #11af4b;
				border: none;
				box-shadow: none;
				float: left;
			}
			.progress-bar {
				display: inline-block;
				min-height: 37px;
				width: 150px;
				background-color: #DEDEDE;
				border: none;
				box-shadow: none;
				margin-right: 15px;
			}
		}
	}
}