<header></header>

<main class="home">

	<section class="home-banner">
		<div class="container">
			<h1>Welcome to your Fundraising Dashboard,
				<span class="home-banner-user">Jordan Carroll</span>
			</h1>
			<span class="pull-right">
				<button class="btn btn-lg btn-success">New Fundraising Application</button>
			</span>
		</div>
	</section>


	<section class="home-dashboard container">
		<div class="row">

			<div class="col-xs-12 col-md-3">
				<!-- Product Exchange -->
				<div class="home-teamworks-products home-dashboard-sidebox">
					<div class="home-dashboard-content">
						<div class="text-center">
							<p>Need Ideas?</p>
							<button class="btn btn-primary">Get Ideas</button>
						</div>
					</div>
				</div>
				<!-- Product Exchange -->
				<!-- Success Coach -->
				<div class="home-success-coach home-dashboard-sidebox">
					<div class="home-dashboard-content">
						<div class="text-center">
							<h2>Your Success Coach</h2>
							<span class="home-success-coach-image">
								<span class="fa fa-user"></span>
							</span>
							<p class="home-success-coach-name">Jeff Glover</p>
						</div>
						<p><span class="fa fa-phone success-coach-contact-icon"></span>  123-456-7890</p>
						<p><span class="fa fa-envelope success-coach-contact-icon"></span>  jglover@teamworks.org</p>
					</div>
				</div>
				<!-- Success Coach -->
				<!-- Regostrations -->
				<div class="home-success-coach home-dashboard-sidebox">
					<div class="home-dashboard-content">
						<div class="text-center">
							<h2>New e-Registration</h2>
							<p>Consider using TeamWorks to help you manage your group’s registration.</p>
							<button class="btn btn-primary">Manage Registrations</button>
						</div>
					</div>
				</div>
				<!-- Registrations -->
				<!-- Regostrations -->
				<div class="home-success-coach home-dashboard-sidebox">
					<div class="home-dashboard-content">
						<div class="text-center">
							<h2>Your Leadership Team</h2>
							<p>It looks like you don’t have anyone helping you yet. Click below to add other Campaign Managers.</p>
							<button class="btn btn-primary">Add Campaign Manager</button>
						</div>
					</div>
				</div>
				<!-- Registrations -->
			</div>

			<div class="col-xs-12 col-md-9">
				<!-- First Time Tips -->
				<div class="home-dashboard-tips" ng-if="home.welcomeActive">
					<div class="home-dashboard-content">
						<span class="pull-right fa fa-times" ng-click="home.welcomeActive = false"></span>
						<h2>Welcome!</h2>
						<p>Since this is your first time, we thought you might want to learn how TeamWorks can help you raise a lot of money.</p>
						<div>
							<button class="btn btn-primary">Click Here for a Full Tour</button>
							<span class="pull-right">
								<input type="checkbox"> Never show this again
							</span>
						</div>
					</div>
				</div>
				<div class="home-dashboard-tips" ng-if="home.campaignManagersActive">
					<div class="home-dashboard-content">
						<span class="pull-right fa fa-times" ng-click="home.campaignManagersActive = false"></span>
						<h2>Who's helping you raise money?</h2>
						<p>If you have others helping you manage this fundraiser, click the button below to invite them to join you.</p>
						<div>
							<button class="btn btn-primary">Add Campaign Manager</button>
							<span class="pull-right">
								<input type="checkbox"> Never show this again
							</span>
						</div>
					</div>
				</div>
				<!-- First Time Tips -->

				<!-- Active Fundraiser -->
				<div class="home-active-fundraiser not-active" ng-if="home.activeFundraiserState === 1">
					<div class="home-dashboard-content">
						<h2>No Active Fundraiser</h2>
						<div class="text-center">
							<p class="no-active-fundraiser-message">It looks like you don't have an active fundraiser. If you would like to start a Fundraising Application, press the button below to get started or <a href="">check out our ideas</a>.</p>
							<div>
								<button class="btn btn-lg btn-success new-application-button"
									ng-click="home.activeFundraiserState = 2">
									New Fundraising Application
								</button>
							</div>
						</div>

					</div>
				</div>
				<!-- Active Fundraiser -->

				<!-- Active Fundraiser -->
				<div class="home-active-fundraiser" ng-if="home.activeFundraiserState === 2">
					<div class="home-dashboard-content">
						<h2>No Active Fundraiser</h2>
						<div class="text-center">
							<p class="no-active-fundraiser-message">You have pending funrdaisers, but none that are active. You active fundraiser will appear when it is approved and the time period </p>
							<div>
								<button class="btn btn-lg btn-success new-application-button"
									ng-click="home.activeFundraiserState = 3">
									New Fundraising Application
								</button>
							</div>

							<button class="btn btn-default new-application-button">
								View Pending Fundraisers
							</button>

						</div>


					</div>
				</div>
				<!-- Active Fundraiser -->

				<!-- Active Fundraiser -->
				<div class="home-active-fundraiser home-approved-fundraiser" ng-if="home.activeFundraiserState === 3">
					<div class="home-dashboard-content">
						<h2>Congratulations! Your fundraiser has been approved!</h2>
						<div class="text-center">
							<p class="no-active-fundraiser-message">
								There are a couple of more steps to complete the application process.
							</p>
							<div>
								<button class="btn btn-lg btn-default new-application-button"
									ng-click="home.activeFundraiserState = 4">
									Complete your Application
								</button>
							</div>

						</div>


					</div>
				</div>
				<!-- Active Fundraiser -->

				<!-- Active Fundraiser -->
				<div class="home-active-fundraiser" ng-if="home.activeFundraiserState === 4">
					<div class="home-dashboard-content">
						<h2>Your Active Fundraiser</h2>
							<p>10/15/2015 - 11/15/2015 (11 days left)</p>
							<p>You are currently a little behind track. <a href="">Click here to figure to learn more about improving your fundraiser.</a></p>
							<div class="fundraiser-progress">
								<div class="fundraiser-expected-data text-center">
									<p>$12,567</p>
									<p>Expected</p>
									<span class="fa fa-angle-down"></span>
								</div>
								<div style="width: 100%; display: inline-block;">
									<div class="progress-raised">
									</div>
									<div class="progress-expected">
									</div>
									<div class="progress-goal text-right">
										<p style="margin-top: 10px; margin-right: 10px; color: #333;">$25,000</p>
									</div>
								</div>
								<div class="fundraiser-raised-data text-center">
									<span class="fa fa-angle-up"></span>
									<p>$9,745</p>
									<p>Raised</p>
								</div>
							</div>
							<div class="text-right">
								<button class="btn btn-default" ng-click="home.activeFundraiserState = 1">
									Go To Fundraiser
									<span class="fa fa-angle-right" style="font-size: 18px; vertical-align: middle"></span>
								</button>
							</div>

					</div>
				</div>
				<!-- Active Fundraiser -->

				<!-- Marketing -->
				<div class="home-marketing">
					<div class="home-dashboard-content">
						<div class="text-center">
							<h2>TeamWorks can help you...</h2>
						</div>
						<carousel interval="5000">
							<slide ng-repeat="slide in home.slides" active="slide.active">
								<img ng-src="{{slide.image}}">
								<div class="carousel-caption">
									<h4>{{slide.title}}</h4>
								</div>
							</slide>
						</carousel>

						<div class="text-center">
							<button class="btn btn-lg btn-default">Learn More</button>
						</div>
					</div>
				</div>
				<!-- Marketing -->

				<!-- Marketing -->
				<div class="pending-fundraisers">
					<h2>Pending Fundraisers</h2>
					<ul class="fundraisers-list">
						<li class="fundraisers-list-item">
							<div class="image-container">
								<img src="images/donation.png">
							</div>
							<div class="fundraiser-info">
								<h3>Firewood Sales Campaign</h3>
								<p>10/15/2015 - 11/15/2015</p>
							</div>
							<div class="fundraiser-state">
								<div class="progress-bar-green">
								</div>
								<div class="progress-bar">
								</div>
								<button class="btn btn-primary pull-right">View</button>
							</div>
						</li>
						<li class="fundraisers-list-item">
							<div class="image-container">
								<img src="images/donation.png">
							</div>
							<div class="fundraiser-info">
								<h3>Firewood Sales Campaign</h3>
								<p>10/15/2015 - 11/15/2015</p>
							</div>
							<div class="fundraiser-state">
								<div class="progress-bar-green">
								</div>
								<div class="progress-bar">
								</div>
								<button class="btn btn-primary pull-right">View</button>
							</div>
						</li>
					</ul>
				</div>
				<!-- Marketing -->

				<!-- Marketing -->
				<div class="pending-fundraisers">
					<h2>Pending Fundraisers</h2>
					<ul class="fundraisers-list">
						<li class="fundraisers-list-item">
							<div class="image-container">
								<img src="images/donation.png">
							</div>
							<div class="fundraiser-info">
								<h3>Firewood Sales Campaign</h3>
								<p>10/15/2015 - 11/15/2015</p>
							</div>
							<div class="fundraiser-state">
								<div class="progress-bar-green">
								</div>
								<div class="progress-bar">
								</div>
								<button class="btn btn-primary pull-right">View</button>
							</div>
						</li>
						<li class="fundraisers-list-item">
							<div class="image-container">
								<img src="images/donation.png">
							</div>
							<div class="fundraiser-info">
								<h3>Firewood Sales Campaign</h3>
								<p>10/15/2015 - 11/15/2015</p>
							</div>
							<div class="fundraiser-state">
								<div class="progress-bar-green">
								</div>
								<div class="progress-bar">
								</div>
								<button class="btn btn-primary pull-right">View</button>
							</div>
						</li>
					</ul>
				</div>
				<!-- Marketing -->
			</div>

		</div>
	</section>
</main>

<footer></footer>