<div class="vendor-info row">
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<label>Campaign Name</label>
		</div>
		<div class="col-xs-6">
			<input type="text" class="form-control">
		</div>
		<div class="col-xs-6">
			<p>This name will appear in the header of your home page and other places this is just placeholder text so don't judge me.</p>
		</div>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-default" ng-click="ctrl.back()">
			Back
		</button>
		<button class="btn btn-default pull-right" ng-click="ctrl.next()">
			Next
		</button>
	</div>
</div>