<div class="vendor-info row">
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<label>A-thon Type</label>
		</div>
		<div class="col-xs-6">
			<input type="text" class="form-control">
		</div>
		<div class="col-xs-6">
			<p>What type of a-thon will you be running? Examples: Lift, Run, Bat</p>
		</div>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-default" ng-click="ctrl.back()">
			Back
		</button>
		<button class="btn btn-default pull-right" ng-click="ctrl.next('athonForward')">
			Next
		</button>
	</div>
</div>