<div class="initial-info row">
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<p>Add the services you want to provide, below.</p>
		</div>
		<div class="col-xs-12 custom-products">
			<div class="custom-product">
				<div class="image">
					<span class="fa fa-photo">
					</span>
				</div>

				<div class="custom-product-description">
					<h3>Car Wash</h3>
					<p>Express car wash and tire shine. This is another line of description.</p>
					<p style="margin-top: 40px; margin-bottom: 40px;">Price: $18.00 </p>
				</div>
				<div class="custom-product-profit">
					Profit<br>$18.00
				</div>
			</div>
			<div class="custom-product-add">
				<div>
					<button class="btn btn-primary">Add a Service</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-default" ng-click="ctrl.back('servicesBack')">
			Back
		</button>
		<button class="btn btn-default pull-right" ng-click="ctrl.next('servicesForward')">
			Next
		</button>
	</div>
</div>