<div class="initial-info row">
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<p>Since you're adding custom products, we need some basic information about them.</p>
		</div>
		<div class="col-xs-12 custom-products">
			<div class="custom-product">
				<div class="image">
					<span class="fa fa-photo">
					</span>
				</div>

				<div class="custom-product-description">
					<h3>BBQ Sandwich</h3>
					<p>This is for a BBQ sandwich that is really cool because it is a bbq sandwich.</p>
					<p style="margin-top: 40px; margin-bottom: 40px;">Price: $18.00 </p>
				</div>
				<div class="custom-product-profit">
					Profit<br>$4.45
				</div>
			</div>
			<div class="custom-product-add">
				<div>
					<button class="btn btn-primary">Add a Product</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-default" ng-click="ctrl.back()">
			Back
		</button>
		<button class="btn btn-default pull-right" ng-click="ctrl.next('productsForward')">
			Next
		</button>
	</div>
</div>