<div class="dates row">
	<div class="col-xs-12 row">
		<div class="col-xs-8 date-range">
			<p class="input-group">
				<label>Start Date</label>
				<input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
				</span>
			</p>
			<p class="input-group">
				<label>End Date</label>
				<input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
				</span>
			</p>
		</div>
		<div class="col-xs-4">
			<p>Choose the start and end date of your fundraiser.</p>
		</div>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-default" ng-click="ctrl.back()">
			Back
		</button>
		<button class="btn btn-default pull-right" ng-click="ctrl.next()">
			Next
		</button>
	</div>
</div>