<div class="initial-info row">
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<label>Legal Entity Name</label>
		</div>
		<div class="col-xs-6">
			<input type="text" class="form-control">
		</div>
		<div class="col-xs-6">
			<p>Your legal entity name is most likely something that is an important piece of information for us to get.</p>
		</div>
	</div>
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<label>Club / Account Number</label>
		</div>
		<div class="col-xs-6">
			<input type="text" class="form-control">
		</div>
		<div class="col-xs-6">
			<p>Your club or account number should be supplied by your administrator.</p>
		</div>
	</div>
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<label>Phone Number</label>
		</div>
		<div class="col-xs-6">
			<input type="text" class="form-control">
		</div>
		<div class="col-xs-6">
			<p>This is an easy one. What is the best number to reach YOU at?</p>
		</div>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-default pull-right" ng-click="ctrl.next()">
			Next
		</button>
	</div>
</div>