<div class="marketing-selection row">
	<div class="input-group col-xs-12">
		<div class="col-xs-3 text-center">
			<div style="padding: 15px; background-color: white;">
				<h3>Selling a Product</h3>
				<p>Products are anything from cookie dough to poinsettias.</p>
				<button class="btn btn-primary" ng-click="ctrl.next()">Select</button>
			</div>
		</div>

		<div class="col-xs-3 text-center">
			<div style="padding: 15px; background-color: white;">
				<h3>Providing a Service</h3>
				<p>Services can include car washes, clean-up crews and more.</p>
				<button class="btn btn-primary" ng-click="ctrl.next('services')">Select</button>
			</div>
		</div>
		<div class="col-xs-3 text-center">
			<div style="padding: 15px; background-color: white;">
				<h3>Accepting Donations</h3>
				<p>Accepting donations (letter writing campaigns) online.</p>
				<button class="btn btn-primary" ng-click="ctrl.next('donations')">Select</button>
			</div>
		</div>
		<div class="col-xs-3 text-center">
			<div style="padding: 15px; background-color: white;">
				<h3>Running an A-thon</h3>
				<p>create any type of A-thon (Lift, Bat, Swim).</p>
				<button class="btn btn-primary" ng-click="ctrl.next('athon')">Select</button>
			</div>
		</div>
		<div class="col-xs-3 text-center">
			<div style="padding: 15px; background-color: white;">
				<h3>Other</h3>
				<p>Just fill out the Fundraising Application.</p>
				<button class="btn btn-primary" ng-click="ctrl.next('customOther')">Select</button>
			</div>
		</div>
	</div>
	<div class="col-xs-12 section-control-buttons">
		<button class="btn btn-default" ng-click="ctrl.back()">
			Back
		</button>
	</div>
</div>