<div class="initial-info row">
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<label>Will door-to-door solictaion be involved?</label>
		</div>
		<div class="col-xs-6">
			<!-- <input type="text" class="form-control"> -->
			<select class="form-control">
				<option>
					yes
				</option>
				<option>
					no
				</option>
			</select>
		</div>
		<div class="col-xs-6">
			<p>Will anyone be sellind door to door during the campaing?</p>
		</div>
	</div>
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<label>Who will be selling?</label>
		</div>
		<div class="col-xs-6">
			<input type="text" class="form-control">
		</div>
		<div class="col-xs-6">
			<p>Here we can accept multiple answers, like "Students, Parents, and Teachers". This is our most common answer to this question.</p>
		</div>
	</div>
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<label>How will products be sold? (Check all that apply)</label>
		</div>
		<div class="col-xs-6">
			<span><input type="checkbox"> In Person</span>
			<span class="pull-right" style="font-weight: 600; font-size: 15px;"><input type="checkbox"> Online with TeamWorks</span>
		</div>
		<div class="col-xs-6">
			<p><span style="color: #05AF05; font-weight: 600;">YES!</span> With TeamWorks you are able to sell your products online through your specialized web page. It's easy, convenient, and can DRASTICALLY improve sales. <a href="">Click here to learn more.</a></p>
		</div>
	</div>
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<label>How will the proceeds be used?</label>
		</div>
		<div class="col-xs-6">
			<input type="text" class="form-control">
		</div>
		<div class="col-xs-6">
			<p>What will your group purchase with the proceeds?</p>
		</div>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-default" ng-click="ctrl.back()">
			Back
		</button>
		<button class="btn btn-default pull-right" ng-click="ctrl.next()">
			Next
		</button>
	</div>
</div>