<div class="initial-info row">
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<label>Number of Kids</label>
		</div>
		<div class="col-xs-6">
			<input type="number" class="form-control">
		</div>
		<div class="col-xs-6">
			<p>How many kids will be involved in the fundraiser.</p>
		</div>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-default" ng-click="ctrl.back()">
			Back
		</button>
		<button class="btn btn-default pull-right" ng-click="ctrl.next()">
			Next
		</button>
	</div>
</div>