<div class="initial-info row">
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<p>TeamWorks offers a variety of products that makes fundraising easier for you. We have suppliers all over the country.</p>
		</div>
		<div class="col-xs-12">
			<div class="text-center" style="margin-left: 39%; margin-top: 60px">
				<p style="max-width: 250px;">
					Enter your zip code to see the products that TeamWorks offers in your area.
				</p>
				<input style="max-width: 250px; text-align: center;" class="form-control" ng-model="ctrl.productZip">

			</div>
		</div>

		<div class="col-xs-12 product-selection" ng-show="ctrl.productZip.length === 5" style="overflow: auto;">
			<div class="product-selection-list row">
				<div class="col-xs-3 text-center teamworks-product">
					<div class="text-center" style="position: relative">
						<div class="text-center average-profit">
							40% Average Profit
						</div>
						<img src="images/product.png">
						<div style="">
							Tervis Tumblr
						</div>
					</div>
					<div class="text-center product-info">
						<p style="font-size: 16px; ">Tervis Tumbler is not only the highest quality tumbler in the world, but is also the best selling tumbler in the...</p>
					</div>
					<div>
						<button>
							Select
						</button>
						<button>
							More
						</button>
					</div>
				</div>

				<div class="col-xs-3 text-center teamworks-product">
					<div class="text-center" style="position: relative">
						<div class="text-center average-profit">
							40% Average Profit
						</div>
						<img src="images/cookie.jpg">
						<div style="">
							Tervis Tumblr
						</div>
					</div>
					<div class="text-center product-info">
						<p style="font-size: 16px; ">Tervis Tumbler is not only the highest quality tumbler in the world, but is also the best selling tumbler in the...</p>
					</div>
					<div>
						<button>
							Select
						</button>
						<button>
							More
						</button>
					</div>
				</div>
				<div class="col-xs-3 text-center teamworks-product">
					<div class="text-center" style="position: relative">
						<div class="text-center average-profit">
							40% Average Profit
						</div>
						<img src="images/product.png">
						<div style="">
							Tervis Tumblr
						</div>
					</div>
					<div class="text-center product-info">
						<p style="font-size: 16px; ">Tervis Tumbler is not only the highest quality tumbler in the world, but is also the best selling tumbler in the...</p>
					</div>
					<div>
						<button>
							Select
						</button>
						<button>
							More
						</button>
					</div>
				</div>
				<div class="col-xs-3 text-center teamworks-product">
					<div class="text-center" style="position: relative">
						<div class="text-center average-profit">
							40% Average Profit
						</div>
						<img src="images/product.png">
						<div style="">
							Tervis Tumblr
						</div>
					</div>
					<div class="text-center product-info">
						<p style="font-size: 16px; ">Tervis Tumbler is not only the highest quality tumbler in the world, but is also the best selling tumbler in the...</p>
					</div>
					<div>
						<button>
							Select
						</button>
						<button>
							More
						</button>
					</div>
				</div>
				<div class="col-xs-3 text-center teamworks-product">
					<div class="text-center" style="position: relative">
						<div class="text-center average-profit">
							40% Average Profit
						</div>
						<img src="images/product.png">
						<div style="">
							Tervis Tumblr
						</div>
					</div>
					<div class="text-center product-info">
						<p style="font-size: 16px; ">Tervis Tumbler is not only the highest quality tumbler in the world, but is also the best selling tumbler in the...</p>
					</div>
					<div>
						<button>
							Select
						</button>
						<button>
							More
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="text-center" style="margin-top: 35px;">
				<p>
					If you already have your own products, feel free to skip this step.
				</p>
				<button class="btn btn-default" ng-click="ctrl.next()">
					skip
				</button>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-default" ng-click="ctrl.back()">
			Back
		</button>
	</div>
</div>