<div class="vendor-info row">
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<div class="col-xs-3"></div>
			<div class="col-xs-6">
				<p class="text-center">Now you will submit your application. There is nothing left for you to do until your administrator approves or rejects your fundraiser. After that, you will finalize the setup of your fundraiser and customize your web page.</p>
			</div>
			<div class="col-xs-3"></div>
		</div>

		<div class="col-xs-12 text-center" style="margin-top: 30px;">
			<input type="checkbox"> I agree to the <a href="">terms and conditions</a>
		</div>
		<div class="col-xs-12 text-center" style="margin-top: 30px;">
			<button class="btn btn-success btn-lg" ui-sref="home">Submit Application</button>
		</div>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-default" ng-click="ctrl.back()">
			Back
		</button>
	</div>
</div>