<div class="vendor-info row">
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<label>Vendor Name</label>
		</div>
		<div class="col-xs-6">
			<input type="text" class="form-control">
		</div>
		<div class="col-xs-6">
			<p>Who owns the products you are selling?</p>
		</div>
	</div>
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<label>Representative</label>
		</div>
		<div class="col-xs-6">
			<input type="text" class="form-control">
		</div>
		<div class="col-xs-6">
			<p>Who is the name of your rep at the vendor?</p>
		</div>
	</div>
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<label>Phone Number</label>
		</div>
		<div class="col-xs-6">
			<input type="text" class="form-control">
		</div>
		<div class="col-xs-6">
			<p>What is the phone number of the vendor?</p>
		</div>
	</div>
	<div class="input-group col-xs-12">
		<div class="col-xs-12">
			<label>Address</label>
		</div>
		<div class="col-xs-6">
			<input type="text" class="form-control">
		</div>
		<div class="col-xs-6">
			<p>What is the address of the vendor?</p>
		</div>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-default" ng-click="ctrl.back()">
			Back
		</button>
		<button class="btn btn-default pull-right" ng-click="ctrl.next()">
			Next
		</button>
	</div>
</div>